* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color1: yellow;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C0AB6;
    z-index: 5;
}

header a .logo {
    padding-left: 100px;
}

header .input {
    margin-left: -100px;
}

header .input input {
    position: relative;
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #111;
}

header .input i {
    position: absolute;
    margin-left: -25px;
    top: 18px;
}

header .input button {
    background-color: #111;
    color: white;
}

header .list_bar {
    display: flex;
    z-index: 5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

.box_ao {
    height: 60px;
    background-color: #ccc;
}

.list_bar li {
    list-style: none;
    padding-right: 20px;
    display: flex;
    position: relative;
}

.ki_tu {
    margin-top: 10px;
    color: white;
}

.list_bar li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.list_bar li.nav_bar a:hover {
    background-color: #111;
    color: #fff;
}

.tuychon_ngonNgu {
    position: absolute;
    border: 1px solid #111;
    padding: 5px 10px;
    width: 150px;
    visibility: hidden;
    background-color: #fff;
}

header .list_bar .nav_bar:hover .tuychon_ngonNgu {
    visibility: visible;
    top: 45px
}

header .list_bar .nav_bar:hover .ki_tu {
    transform: rotate(-180deg);
    margin-bottom: 10px;
}

.tuychon_ngonNgu li a {
    background-color: #fff;
    color: #111;
}

.thong_tin {
    position: absolute;
    display: flex;
    left: 25%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    z-index: 1;
}

.thong_tin li {
    color: #111;
    display: flex;
    justify-content: space-between;
    border: 1px solid #111;
    padding: 5px;
    position: relative;
}

.ki_tu_1 {
    padding-left: 5px;
    padding-right: 2px;
}

.thoi-gian {
    position: absolute;
    width: 250px;
    left: -40px;
    top: 30px;
    border: 0px solid #ccc;
    background-color: #fff;
    padding: 5px;
    visibility: hidden;
}

.thong_tin li:hover .thoi-gian {
    visibility: visible;
}

.thong_tin li:hover {
    background-color: yellow;
    border: 1px solid yellow;
}

.cong-ty {
    position: absolute;
    width: 250px;
    left: -40px;
    top: 30px;
    border: 0px solid #ccc;
    background-color: #fff;
    padding: 5px;
    visibility: hidden;
}

.thong_tin li:hover .cong-ty {
    visibility: visible;
}

.dia-diem {
    position: absolute;
    width: 250px;
    left: -40px;
    top: 30px;
    border: 0px solid #ccc;
    background-color: #fff;
    padding: 5px;
    visibility: hidden;
}

.thong_tin li:hover .dia-diem {
    visibility: visible;
}

.job-type {
    position: absolute;
    width: 250px;
    left: -40px;
    top: 30px;
    border: 0px solid #ccc;
    background-color: #fff;
    padding: 5px;
    visibility: hidden;
}

.thong_tin li:hover .job-type {
    visibility: visible;
}

.kinh-nghiem {
    position: absolute;
    width: 250px;
    left: -40px;
    top: 30px;
    border: 0px solid #ccc;
    background-color: #fff;
    padding: 5px;
    visibility: hidden;
}

.thong_tin li:hover .kinh-nghiem {
    visibility: visible;
}

.wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
}

.content-item {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 20px;
    display: block;
    border: 2px solid #111;
    height: 200px;
    width: 300px;
}

.content-item:hover {
    border: 3px solid #A3E4DB;
    background-color: #999;
    color: white;
}

.content-item .content-top {
    display: flex;
    align-items: center;
}

.content-item .content-center {
    padding-top: 10px;
    display: block;
}

.content-item .content-bottom {
    padding-top: 30px;
    font-size: 12px;
}

.loc_timkiem {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    border-style: dashed;
    height: 150px;
    margin-top: 15px;
    background-color: #fff;
}

.sort {
    margin-left: 50px;
}

.type-job {
    margin-left: 50px;
}

.city {
    margin-left: 50px;
}

.experience {
    margin-left: 50px;
    padding-right: 50px;
}